<header>
  <div class="contenu">
    <div class="gauche">
        <nav class="site-nav">
            <button class="nav-toggle" aria-expanded="false" aria-controls="primary-nav">
                <i class="bi bi-list" aria-hidden="true"></i>
                <span class="visually-hidden">Menu</span>
            </button>
            <ul id="primary-nav" class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="bi bi-calendar-event" aria-hidden="true"></i>
                        <span data-i18n="nav.albumOfDay">Album of the Day</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="past-dailies.html">
                        <i class="bi bi-disc" aria-hidden="true"></i>
                        <span data-i18n="nav.archives">Archives</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="game.html">
                        <i class="bi bi-shuffle" aria-hidden="true"></i>
                        <span data-i18n="nav.randomAlbum">Random album</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cover-guess.html">
                        <i class="bi bi-grid-3x3-gap" aria-hidden="true"></i>
                        <span data-i18n="nav.coverGuess">Cover Guess</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ranking.html">
                        <i class="bi bi-trophy" aria-hidden="true"></i>
                        <span data-i18n="nav.ranking">Ranking</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cover-guess-ranking.html">
                        <i class="bi bi-trophy-fill" aria-hidden="true"></i>
                        <span data-i18n="nav.coverGuessRanking">Cover Guess Ranking</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="how-to-play.html">
                        <i class="bi bi-question-circle" aria-hidden="true"></i>
                        <span data-i18n="footer.howToPlay">How to play</span>
                    </a>
                </li>
                <li class="nav-item" id="nav-report-bug" style="display:none">
                    <a class="nav-link" href="report-bug.html">
                        <i class="bi bi-bug" aria-hidden="true"></i>
                        <span data-i18n="nav.reportBug">Report a Bug</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="centre">
    </div>
    <div class="droite">
        <ul class="nav-list">
            <li class="user-profile-menu" id="user-profile-menu" style="display:none">
                <button class="user-profile-toggle" id="user-profile-toggle" aria-expanded="false" aria-controls="user-profile-dropdown">
                    <img id="user-avatar" class="avatar" alt="Avatar" crossorigin="anonymous"/>
                    <span id="user-name" class="user-name"></span>
                    <i class="bi bi-chevron-down"></i>
                </button>
                <ul id="user-profile-dropdown" class="user-profile-dropdown">
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">
                            <i class="bi bi-person" aria-hidden="true"></i>
                            <span data-i18n="nav.profile">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item" id="nav-statistics-dropdown" style="display:none">
                        <a class="nav-link" href="statistics.html">
                            <i class="bi bi-bar-chart-line" aria-hidden="true"></i>
                            <span data-i18n="nav.myStatistics">My statistics</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link nav-link-logout" id="btn-logout">
                            <i class="bi bi-box-arrow-right" aria-hidden="true"></i>
                            <span data-i18n="auth.logout">Log out</span>
                        </button>
                    </li>
                </ul>
            </li>
            <li>
                <button class="footer-button" id="btn-login">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span data-i18n="auth.login">Log in</span>
                 </button>
            </li>
        </ul>
    </div>
  </div>
  <a href="index.html" class="logo" style="display: inline-block; padding: 0; margin: 0; line-height: 0;">
        <img src="../img/logo.png" style="width:300px; display: block;" alt="AlbumGuessr">
    </a>
</header>